.head{
   margin-bottom: 20px;
}
#carousel-id{
   margin-bottom: 50px;
}
.mid-ico>div{
    margin:30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid-ico img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}
.mid-ico .title{
    color: green;
    font-size: 25px;
}
.mid-ico .sm_title{
    font-size: 13px
}
#home .underline,#about .underline,#join .underline,#connect .underline{
    border-bottom: solid #2DAE36 1px;
}
#home .show,#about .show,#join .show,#connect .show{
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    margin-bottom: -10px;
    width: 120px;
    line-height: 50px;
    background: #2DAE36;
    color: white;
    font-size: 20px;
}
.product-show>div{
    display: flex;
    justify-content: space-evenly
}
.product-show img{
    margin-top: 30px;
    width: 360px;
    height: 230px;
}
.product-show{
    margin-bottom: 30px;
}
.foot{
    background: #DDDDDD;
   
   
}
.foot .iconfont{
    font-size: 25px;
}
.foot .container{
    padding: 30px 0;
    padding-left: 50px;
}
.foot .center{
    margin-top: 35px;
    margin-bottom: 10px;
    font-size: 16px;
}
.foot .center a{
    text-decoration: none;
    color: black;
}
.foot img{
    width: 70px;
    height: 70x;
    margin-left: 10px;
    margin-top: 20px;
}
#fixed-img{ 
    position: fixed;
    right: 0px;
    bottom: 100px;
    width: 100px;
    height: 100px;
}

.mid-img{
    width: 100%;
}
.mid-img img{
    width: 100%;
    height: 350px;
}
.mid-img{
    margin-bottom: 30px;
}
#about .mid-contain{
    margin: 30px 0;
}
#about .tips{
    color: green;
}
#about .text{
    text-indent: 20px;
    font-size: 14px;
}
#about .text p{
    margin-bottom: 30px;
}
#about .about-map{
    margin-left: 30px;
    margin-right: 40px;
    height: 350px;
   
}
#show .container{
    margin-top: 30px;
}
#show .tabpanel{
    margin-left: 150px;
}
#show .tabpanel .active a{
    text-decoration: none;
    color: #2DAE36;
}
#show .tabpanel>div{
    margin-top: 20px;
    margin-bottom: 20px;
}
#show .weiyi{
    margin-left: -25px;
    margin-bottom: 15px;
}
#show .tabpanel a{
    color: black;
}
#show .tab-pane img{
     width: 300px;
     height: 200px;
}
#join .ico{
   height: 200px;
   background: url("../images/logo.ico") no-repeat center center;
   background-size: 150px;
}
#join .ico2{
    height: 200px;
    background: url("../images/jm.bmp") no-repeat center center;
    background-size: 180px;
 }
 #join .ico3{
    height: 200px;
    background: url("../images/jm2.bmp") no-repeat center center;
    background-size: 180px;
 }
#join .main{
    margin-top: 20px;
}
.joinus_part_title{
    margin-top: 45px;
    font-size: 35px;
}
.joinus_part_smtitle{
    font-size: 20px;
    color: #2DAE36
}
.join-text{
    margin-top: 16px;
    font-size: 15px;
}
#join .first{
   border-bottom: 1px dashed green;
   background: #F9F9F9;
   padding: 30px 0;
}
#join .second{
    border-bottom: 1px dashed green;
    padding: 30px 0;
 }
 #join .third{
    padding: 30px 0;
    background: #F9F9F9;
 }
 .join-text-title{
     font-size:25px;
     color: #2DAE36;
     margin-bottom: 10px;
 }
 .join-text-title~p{
     text-indent: 30px;
 }
 #connect .connect-us{
     margin-top: 30px;
 }
 #connect .first{
    margin-top: 20px;
    font-size: 40px;
    
 }
 #connect .first .iconfont{
    font-size: 60px;
    color: green;
    vertical-align: middle;
 }
 #connect .second .iconfont{
    font-size: 30px;
    color: green;
    margin-right: 10px;
    vertical-align: middle;
 }
 #connect .second{
    font-size: 20px;
    border-left: solid 1px green;
 }
 #connect .main{
     margin: 50px  0;
 }
 .connect-map{
     height: 300px;
     width: 100%;
    
 }
